:root {
    --black: #1f1f1f;
    --brown: #644536;
    --redwood: #b2675e;
    --redwood-opaque: rgba(178, 103, 94, 0.5);
    --lion-brown: #c4a381;
    --pistachio-green: #bbd686;
    --cream: #eef1bd;
    --cream-opaque: rgba(238, 241, 189, 0.5);
    --light-cream: #fffefd;
    --small-dimen: 0.5rem;
    --home-size: 2rem;
}

@font-face {
    font-family: "Bold one";
    src: url("../fonts/Classica-Bold.ttf");
}

@font-face {
    font-family: "Bold-Oblique one";
    src: url("../fonts/Classica-BoldOblique.ttf");
}

@font-face {
    font-family: "Book one";
    src: url("../fonts/Classica-Book.ttf");
}

@font-face {
    font-family: "Book-Oblique one";
    src: url("../fonts/Classica-BookOblique.ttf");
}

body {
    color: var(--cream);
    font-size: 1rem;
    font-family: "Book one";
}

.background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#content {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav > div,
.nav > button {
    padding: var(--small-dimen);
    transition: 0.2s box-shadow ease-in-out;
}

.nav-button {
    color: inherit;
    background: none;
    border: none;
    font-family: "Book-Oblique one";
}

#nav-home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--small-dimen);
    align-items: center;
}

#nav-button {
    font-size: var(--home-size);
    font-family: "Bold-Oblique one";
}

.nav-icon {
    width: var(--home-size);
    height: var(--home-size);
}

.key-selected {
    box-shadow: 0rem 0.4rem 0.2rem -0.2rem var(--cream);
}

.menu {}

.contact {
    display: grid;
    grid-template-areas: 
        "info info"
        "form email"
        "form phone"
        "form address"
        "form address";
    padding: 2rem;
    gap: var(--small-dimen);
    background-color: var(--redwood-opaque);
}

.info-block,
.form-row {
    display: flex;
    flex-direction: column;
}

.info-label,
.form-label,
#pythagoras-label {
    color: var(--light-cream);
    font-size: 0.8rem;
    font-family: "Book-Oblique one";
}

#address-value {
    display: flex;
    flex-direction: column;
}

#contact-info {
    grid-area: info;
    font-family: "Book-Oblique one";
}

#contact-form {
    grid-area: form;
}

.form-input {
    color: var(--pistachio-green);
    background: none;
    border: none;
    border-bottom: 2px solid var(--black);
    margin-bottom: var(--small-dimen);
}

.form-input:focus {
    outline: none;
}

#form-submit {
    background-color: var(--pistachio-green);
    color: var(--light-cream);
    border: none;
    padding: var(--small-dimen);
    border-radius: var(--small-dimen);
}

#restaurant-email {
    grid-area: email;
}

#restaurant-phone {
    grid-area: phone;
}

#restaurant-address {
    grid-area: address;
}

.home {
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cream-opaque);
    border-radius: var(--small-dimen);
    box-shadow: var(--small-dimen) var(--small-dimen) var(--black);
    overflow: auto;
    max-height: 70vh;
}

#welcome-title {
    text-align: center;
}

.message-span {
    text-align: center;
    margin-bottom: var(--small-dimen);
}

#pythagoras-portrait {
    width: 70%;
}